.red { -fx-fill: red; }
.green { -fx-fill: green; }
.blue { -fx-fill: blue; }
.black { -fx-fill: black; }
.yellow { -fx-fill: yellow; }
.salmon { -fx-fill: salmon; }
.white { -fx-fill: white; }

.gray { -fx-fill: gray; }